.area-chart{
    flex: 3 1;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: gray;
    margin-top: 20px;
    min-width: 300px;
    /* height: 400px; */
}
